*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/caches/transforms-3/f448b7eea70b098a41076ac8aa1160f4/transformed/biometric-1.1.0-alpha02-runtime.jar
